body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'SF Pro Display 700', sans-serif;
    font-size: 30px;
}
.navbar1 ul{
    list-style: none;
    background: #FBB041;
    padding: 0;
    margin: 0;
    height: 85px;
    text-align: center;
}
.navbar2 ul{
    list-style: none;
    background: #000000;
    padding: 0;
    margin: 0;
    height: 5px;
}
.navbar1 li{
    display: inline-block;

}
.navbar1 a{
    text-decoration: none;
    color: #000000;
    width: 250px;
    display: block;
    padding: 25px 20px;
    font-weight: bold;
    text-align: center;
}
.navbar1 a:hover{
    background: #000000;
    color: white;

}
.navbar3 img{
    width: 120px;
    position: absolute;
    left: 46%;
    bottom: 80%;
    display: inline-block;
}
.content h2{
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: 'SF Pro Display 700', sans-serif;
    font-size: 100px;
}
.content h1{
    position: absolute;
    top: 40%;
    left: 10%;
    font-family: 'SF Pro Display 700', sans-serif;
    font-size: 100px;
}
.content img{
    width: 110px;
    position: absolute;
    top: 50%;
    left: 25.7%;
}
.hr-lines{
    content:" ";
    height: 5px;
    width: 600px;
    background: #000000;
    display: block;
    position: absolute;
    top: 86%;
    right: 0;
  }
  .iconCam img{
    width: 280px;
    position: absolute;
    top: 48%;
    left: 65%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .iconPtir img{
    width: 200px;
    position: absolute;
    top: 27%;
    left: 62.5%;
  }
  .iconChat img{
    width: 210px;
    position: absolute;
    top: 23%;
    left: 75%;
  }
  .default {
    border-color: black;
    background: #FBB041;
    color: black;
    box-shadow: black;
  }
  .default:hover {
    background: #000000;
    color: white;
  }
  .btn1{
    color: black;
    height: 69px;
    width: 224px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 75%;
    left: 10%;
  }
  .welcome h1{
    position: absolute;
    top: 145%;
    left: 10%;
    font-family: 'SF Pro Display 700', sans-serif;
    font-size: 42px;
  }
  .welcome h2{
    position: absolute;
    top: 152.5%;
    left: 10%;
    font-family: 'SF Pro Display 700', sans-serif;
    font-size: 42px;
  }
  .welcome img{
    width: 135px;
    position: absolute;
    top: 127%;
    left: 10%;
  }
.btn2{
    color: black;
    height: 69px;
    width: 224px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 190%;
    left: 10%;
}
.btn3{
    color: black;
    height: 69px;
    width: 224px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 190%;
    left: 30%;
}
.space img{
    width: 0.5px;
    padding: 50px;
    position: absolute;
    top: 200%;
    left: 25.7%;
}
a:visited { 
    text-decoration: none; 
    color: black;
   }
a:visited:hover{
    text-decoration: none;
    color: white;
}